<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>Custom Image Classifier POC </div>
        <p> 
        This classifier can identify  <strong> <a href="https://www.google.com/search?tbm=isch&source=hp&biw=1920&bih=948&ei=Np1TXPzaF5TW9AOOkJEw&q=cinturato+winter&oq=cinturato+winter&gs_l=img.3.1.0j0i5i30j0i24l3.1279.5385..5613...0.0..0.310.1424.14j0j1j1......0....1..gws-wiz-img.....0..0i30.AmFsqO7tWds"> Pirelli Cinturato Winter </a> </strong> and <strong> <a href ="
https://www.google.com/search?tbm=isch&source=hp&biw=1324&bih=840&ei=vLJTXKuRJ5S90PEP1oav-AY&q=Pirelli+winter+sottozero+serie+ii&oq=Pirelli+winter+sottozero+serie+ii&gs_l=img.3..0i24l6.1493.1493..1840...0.0..0.61.61.1......0....2j1..gws-wiz-img.....0._pN5zSn3BdE
"> Pirelli Winter Sottozero Serie ii </a>  </strong>. 
            
        Go ahead and try the classifier by uploading these Pirelli tire images below.
        </p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
