<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>Custom Image Classifier POC </div>
        <p> 
        This classifier can identify  <strong> <a href="https://www.google.com/search?tbm=isch&source=hp&biw=1920&bih=948&ei=Np1TXPzaF5TW9AOOkJEw&q=cinturato+winter&oq=cinturato+winter&gs_l=img.3.1.0j0i5i30j0i24l3.1279.5385..5613...0.0..0.310.1424.14j0j1j1......0....1..gws-wiz-img.....0..0i30.AmFsqO7tWds"> Pirelli Cinturato winter </a> </strong>, and <strong> <a href ="https://www.google.com/search?tbm=isch&source=hp&biw=1920&bih=948&ei=UJ1TXNS3PIC40PEP6Ma22As&q=pirelli+ice+zero+fr&oq=pirelli+ice+zero+fr&gs_l=img.3.0.0j0i7i30j0i30j0i8i30j0i24l6.3154.9891..10324...0.0..0.146.1270.17j1......0....1..gws-wiz-img.....0..0i5i30.yOegiuPzPpU"> Pirelli Ice zero™ fr </a>  </strong> tires. 
        Go ahead and try
        </p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
